.tableRow {
  border: 1px solid black;
  list-style-type: none;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  width: 5 em;
  align-items: stretch;
}

.weightContainer {
  padding-left: 1em;
  flex: 1 1 0%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.arrowButton {
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  border-style: solid;
  border-color: rgb(43, 94, 236);
  border-width: 0px 2px 2px 0px;
  transition: border-width 150ms ease-in-out;
}

.arrowButton:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.arrowButtonUp {
  transform: rotate(-135deg);
}

.arrowButtonDown {
  transform: rotate(45deg);
}

.weightName {
  text-align: left;
  padding-left: 1em;
  flex: 1 1 0%;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
}
