.app {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #72d6fd;
}

.characterSheet {
  margin-block-start: 3em;
  padding-inline-start: 0px;
  display: flex;
  flex-flow: column nowrap;
}
