.banner {
  padding: 1em;
  width: 20%;
}

.title {
  text-align: center;
}

.contentTypes {
  display: flex;
  flex-direction: column;
}

.tables {
  display: flex;
  flex-direction: column;
}

.tableTitle {
  margin-left: 1em;
}
